

 
   
   #mainTable {
      
      font-size: 19px;

      font-family: 'Times New Roman', serif;

      text-align: center;

      vertical-align: middle;

      width: 90%;

      margin-left: auto;

      margin-right: auto;

      border-collapse: separate;

      border-spacing: 10px 5px;

    }

    #selectNumber > ul > li 
    {

      font-size: 1.8em;

      text-align:center;
       
      display:inline-block;
  
      margin-left: 15px;       /* This is when the drop down box appears */
  
      position: relative;
  
  }

  #selectNumber > ul 
  {
    font-size: 1.8em;

    text-align:center;
}

#selectNumber
{
  background-color: #e6e3db;
  text-align:center;
  font-size: 1.4em;
  height: 3em;
  margin: 25px;
  margin-bottom: 10px;
  width: 80%;
  
}

#NewArtistButton
{
  margin-top: 10px;
  width: 30%;
  height: auto;
  border: 1px solid #000;
  cursor: pointer;
}



    #leftField, #rightField, .middleField, #NewArtistButton
    {
      background-color: #e6e3db;
    }

    

    #leftField {

      width: 120px;

      height: 150px;

      border: 1px solid #000;

      cursor: pointer;

    }

    #rightField {

      width: 120px;

      height: 150px;

      border: 1px solid #000;

      cursor: pointer;

    }

    .middleField {

      width: 120px;

      height: 70px;

      border: 1px solid #000;

      cursor: pointer;

    }

    a {

      color: #e097d9;

      text-decoration: none;

    }

    a:hover {

      color: #8f8f8f;

    }

    body {

      width: 600px;

      margin: auto;

      font-family: 'Times New Roman', erif;


    }

    html, body 
    {

      background-color: #e5e5f7;
opacity: 1;
background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
      max-width: 100%;
      overflow-x: hidden;
  }

  #AlbumName
  {
    font-size: 1.8em;
    margin-top: 1%;
  }

  #myBar {
    width: 0%;
    height: 30px;
    background-color: #ecc966;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: rgb(0, 0, 0);
    font-weight: bold;
    border:1px solid black;
    margin: 10px;

  }

 


    
    
  

    
